.points {
  padding: 0;
}

.points .point {
  display: flex;
  align-items: center;
}

.points .point .iconArea {
  margin-right: 38px;
  width: 160px;
  flex: 0 0 auto;
  text-align: center;
  line-height: 0;
}

.points .point:not(:last-child) {
  margin-bottom: 50px;
}
