.timeline .feed-section {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.timeline .feed-section:after, .timeline .feed-section:before {
  content: "";
  width: 2px;
  height: calc(100% - 120px);
  background: #7f7f7f;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline .feed-section:before {
  top: 0;
}

.timeline .feed-section:after {
  bottom: 0;
}

.timeline .feed-seperator {
  width: 27px;
  height: 100%;
  display: block;
}

.timeline .feed-seperator:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #7f7f7f;
  display: block;
  margin-top: 60px;
}

.timeline .feed-section .feed-year {
  background-position: center center;
  background-size: cover;
  background-color: white;
  background-image: url("../images/inbetween.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 120px;
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: 1em;
}

.timeline .feed-section .feed-year > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 100%;
}

.timeline .feed-section .feed-year:before {
  content: "";
  width: 14px;
  height: 1px;
  background: #7f7f7f;
  display: block;
  position: absolute;
  top: 50%;
}

.timeline .feed-section .feed-year:after {
  content: "";
  height: 11px;
  width: 11px;
  background: #fdb415;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.timeline .feed-section:nth-child(odd) > .feed-year > span {
  background-color: #008fcb;
  background-image: linear-gradient(#008fcb, #0071b4, #0e4c9a);
}

.timeline .feed-section:nth-child(even) > .feed-year > span {
  background-color: #008fcb;
  background-image: linear-gradient(#0e4c9a, #0071b4, #008fcb);
}

.timeline .feed-section:first-child:before {
  display: none;
}

.timeline .feed-section:first-child .feed-year {
  background-image: url("../images/start.png");
}

.timeline .feed-section:last-child:after {
  display: none;
}

.timeline .feed-section:last-child .feed-year {
  background-image: url("../images/end.png");
}

.timeline .feed-align-right .feed-year:before {
  right: 0;
}

.timeline .feed-align-right .feed-year:after {
  left: 100%;
}

.timeline .feed-align-left .feed-year:after, .timeline .feed-align-left .feed-year:before {
  left: 0;
}

.timeline .feed-align-left {
  flex-direction: row-reverse;
}

.timeline .feed-description {
  line-height: 1.425;
  width: calc(50% - 87px);
  flex: 0 1 auto;
  background: #eef4f8;
  padding: 14px 22px;
}

.timeline .feed-description ul {
  list-style: none;
  padding-left: 0;
}

.timeline .feed-description li {
  padding-left: 1em;
  display: block;
  position: relative;
}

.timeline .feed-description li::before {
  content: "";
  background: #fdb415;
  position: absolute;
  top: 0.35em;
  left: 0;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 100%;
}

.timeline .feed-align-left .feed-description {
  border-right: 1px solid #7f7f7f;
}

.timeline .feed-align-right .feed-description {
  border-left: 1px solid #7f7f7f;
}

.feed-section + .feed-section {
  margin-top: -0.8em;
}

@media (max-width: 767px) {
  .timeline .feed-section + .feed-section {
    margin-top: 1.5em;
  }
  .timeline .feed-section {
    flex-direction: column;
  }
  .timeline .feed-section:first-child > .feed-year,
  .timeline .feed-section:last-child > .feed-year,
  .timeline .feed-section > .feed-year {
    background-image: none;
    background: #0b3d61;
  }
  .timeline .feed-section:first-child > .feed-year:before, .timeline .feed-section:first-child > .feed-year:after,
  .timeline .feed-section:last-child > .feed-year:before,
  .timeline .feed-section:last-child > .feed-year:after,
  .timeline .feed-section > .feed-year:before,
  .timeline .feed-section > .feed-year:after {
    display: none;
  }
  .timeline .feed-section:first-child > .feed-year span,
  .timeline .feed-section:last-child > .feed-year span,
  .timeline .feed-section > .feed-year span {
    position: relative;
    background: transparent !important;
    transform: none;
    left: 0;
    top: 0;
  }
  .timeline .feed-section .feed-seperator, .timeline .feed-section:before, .timeline .feed-section:after {
    display: none;
  }
  .timeline .feed-section > * {
    width: 100%;
  }
  .timeline .feed-section .feed-year {
    height: auto;
    margin-bottom: 0.3em;
  }
  .timeline .feed-section > .feed-description {
    border-right: 0;
    border-left: 1px solid #7f7f7f;
  }
}
