.button-animate-1 {
  animation: glowing 1500ms infinite;
  @media (max-width: 767px) {
    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes glowing {
  0% {
    background-color: #002a45;
    box-shadow: 0 0 3px #002a45;
  }
  50% {
    background-color: rgba(#023c61, 0.9);
    box-shadow: 0 0 8px rgba(#023c61, 0.9);
  }
  100% {
    background-color: #002a45;
    box-shadow: 0 0 3px #002a45;
  }
}
