.contentArea {
  display: flex;
  & > * {
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    & > * {
      width: 100%;
    }

    .content{
      order: -1;
    }
  }
}
