.career {
  .evolve-with-us.section {
    background: white;

    .containedContent {
      display: none;
    }
  }
}

.career-layout {
  .career-group + .career-group {
    margin-top: 20px;
  }

  h5 {
    margin-bottom: 15px;
  }

  .career-description {
    width: 362px;
    margin-right: 6.1666%;
    flex: 0 0 auto;
  }

  .accordion-items button {
    background: #eef4f8;
    display: block;
    position: relative;

    cursor: pointer;
    padding: 1.1em 1.5em;
    padding-right: 56px;
    margin-bottom: 5px;

    border: 0;
    width: 100%;
    text-align: left;
    font-size: 1rem;

    outline: none;
  }

  .accordion-items .symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 56px;

    position: absolute;
    top: 0;
    right: 0;

    &:before,
    &:after {
      content: "";
      display: block;
      background: #023c61;
      transition: all 0.3s;
      height: 2px;
      width: 18px;
    }

    &:after {
      margin-top: -2px;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
  }

  .accordion-description {
    background: #fff8ef;
    max-height: 100vh;
    overflow: auto;
    opacity: 1;

    margin-bottom: 20px;
    padding: 1.5em;
    transition: all 0.6s;

    li {
      line-height: 1.5;
    }
  }
  // .career-layout
  display: flex;

  input:checked + button .symbol:after {
    transform: rotate(0deg);
    background: #ffb400;
  }

  input:not(:checked) + button + .accordion-description {
    transition: all 0.6s;
    padding: 0;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.career-block:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

  .btn {
    margin-top: -10px;
  }
}

@media (max-width: 991px) {
  .career-layout {
    flex-direction: column;
  }

  .career-description {
    width: 100%;
    margin-bottom: 48px;
  }
}
