.content {
  width: 100%;
  color: #023c61;
  flex: 1 1 auto;
  padding-bottom: calc(50px + 1.8vw);
}

.content h1 {
  color: #0073bb;
  font-size: 31.89px;
  text-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.content h2 {
  text-shadow: none;
  font-size: 2rem;
}

.content * + h2 {
  margin-top: 1em;
}
